/* Комментарий */
body{
    margin: 0;
    width: 100%;
    font-family: 'Alef';
}
header{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    align-items: center;
    font-family: 'Homemade Apple';
}
.nav-top{
    width: 30%;
}
.nav-top ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav-top ul li{
    font-size: 18px;
}
.regist{
    border: 2px solid #F7941E;
    color: #F7941E;
    padding: 1% 0;
    align-items: center;
    background-color: #fff;
}
.regist:hover{
    background-color:#FAFAFA;
}

.s-first{
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
}
.s-first .txt{
    width: 50%;
}
.s-first .img{
    width: 50%;
}
.s-first .img img{
    width: 100%;
    display: block;
}
.s-first button{
    border: 2px solid #F7941E;
    padding: 1%;
    color: #fff;
    border-radius: 5px;
    background-color: #F7941E;
}
.s-first button:hover{
    background-color: rgb(236, 231, 231);
    color: #F7941E;
}
.txt{
    padding:0 100px;
    box-sizing: border-box;
}
.txt h3{
    font-size: 56px;
}
.txt p{
    font-size: 20px;
}


/* first-block */


.s-second{
    flex-direction: row-reverse;
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
}
.s-second .txt-second{
    width: 50%;
}
.s-second .txt-second{
    width: 50%;
}
.img-second{
    width: 50%;
}
.img-second img{
    display: block;
    width: 100%;
}
.s-second button{
    font-size: 18px;
    color: #F7941E;
    border: 2px solid #F7941E;
    padding: 1%;
    border-radius: 5px;
    background-color: #fff;
}
.s-second button:hover{
    color: #fff;
    background-color: #f7941e;
}
.txt-second{
    padding:0 100px;
    box-sizing: border-box;
}
.txt-second h3{
    font-weight: normal;
    font-size: 32px;
}
.txt-second p{
    font-size: 20px;
}



.third-blocks{
    margin: 0 auto;
    display: flex;
    width: 85%;
    margin-bottom: 137px;
    justify-content: space-between;
}
.txt-third{
    margin-top: 90px;
    margin-bottom: 60px;
    text-align: center;
}
h3{
    font-size: 32px;
    font-weight: normal;
}
p{
    font-size: 18px;
}
.card{
    margin: 0 2% 0;
    background-color: #FAFAFA;
    width: auto;
    height: auto;
}
.card:hover{
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.29);
}
.card img{
    width: 100%;
    display: block;
}
.card p{
    padding-left: 24px;
    box-sizing: border-box;
}
.card-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-txt p:last-child{
    margin-top: 60px;
}
.card-slide{
    font-size: 14px;
}
.s-fourth{
    display: flex;
    height: 240px;
    background-color: #F7941E;
}
.fourth-txt{
    align-self: center;
    width: 50%;
}
.buttons{
    align-self: center;
    text-align: center;
    width: 50%;
}
.buttons button{
    border-radius: 5px;
    width: 200px;
    height: 50px;
}
.buttons button:first-child{
    background-color: black;
    color: #fff;
}
.buttons button:first-child:hover{
    background-color: #fff;
    color: black;
}
.buttons button:last-child:hover{
    background-color: black;
    color: #fff;
}
.s-fourth p{
    font-size: 32px;
    text-align: center;
}



.fifth-main-txt{
    text-align: center;
}
.card-fifth{
    color: #fff;
    background-color: #231F20;
    margin: 0 auto 40px;
    width: 85%;
    margin-top: 5%;
    display: flex;
}
.fifth-img img{
    display: block;
}
.fifth-txt{
    display: block;
    margin: auto;
    margin-left: 5%;
}
.fourth-txt p{
    font-size: 20px;
}
.fifth-txt p:first-child{
    font-size: 14px;
    padding-top: 43px;
    margin-bottom: 27px;
}
.fifth-txt p:last-child{
    font-size: 18px;
}
.fifth-txt h3{
    font-size: 40px;
    margin-bottom: 70px;
}
.bott-blocks{
    margin: 0 auto;
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.bott-blocks div{
    padding: 48px;
    width: 45%;
    box-sizing: border-box;
}
.bott-blocks div h4{
    font-weight: normal;
    font-size: 24px;
}
.bott-blocks div:hover{
    box-shadow: -10px 10px 10px rgb(168, 166, 166);
}
.bott-blocks div p:last-child{
    padding-top: 16px;
}


footer{
    text-align: center;
}
footer ul{
    margin: 115px auto 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
footer hr{
    margin-top: 43px;
    width: 80%;
}
footer .logo{
    color: #F7941E;
    margin: 0 15%;
}
.media{
    margin: 55px auto 73px;
    display: flex;
    width: 60%;
    justify-content: space-between  ;
}


@media (max-width: 500px) {
    header{
        font-size: 12px;
        width: 90%;
    }
    .nav-top ul li{
        font-size: 12px;
    }
    .nav-top{
        width: 60%;
    }
    header button{
        font-size: 12px;
    }
    button{
        font-size: 14px;
        padding: 1%;
    }
    .txt-second button{
        font-size: 14px;
        padding: 1%;
    }
    .s-first, .s-second, .s-fourth{
        text-align:start;
        padding: 0;
        width: 100%;
        flex-direction: column;
    }
    .s-third{
        width: 100%;
    }
    .third-blocks{
        flex-wrap: wrap;
    }
    .third-blocks div{
        margin-bottom: 5%;
        align-items: center;
        width: 90%;
    }
    .s-first img, .s-second img{
        display: inline;
    }
    .s-first .txt, .s-second .txt-second{
        width: 100%;
    }
    .s-first .txt, .s-second .txt-second{
        margin-bottom: 10px;
    }
    .s-third .txt-third{
        width: 100%;
        text-align: center;
    }
    .s-third .third-blocks{
        width: 80%;
    }
    .txt{
        width: 100%;
    }
    .txt h3, .txt-second h3{
        font-size: 20px;
    }
    .txt p, .txt-second p{
        font-size: 14px;
    }
    .fifth-txt{
        width: 100%;
        display: block;
        padding-left: 10%;
        margin: 0;
    }
    .fifth-txt h3{
        font-size: 20px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
    .fifth-img{
        width: 100%;
    }
    .fifth-img img{
        width: 100%;
    }
    .card-fifth{
        flex-direction: column;
        width: 100%;
    }
    .buttons button{
        width: auto;
        height: auto;
        padding: 1%;
        font-size: 14px;
    }
    .bott-blocks{
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .bott-blocks div{
        width: 80%;
    }
    .regist button{
        font-size: 14px;
    }
    header, section, footer{
        width: 100%;
    }
    .fifth-txt h3{
        font-size: 20px;
    }
    img{
        width: 100%;
    }
    footer ul{
        flex-wrap: wrap;
        margin: 40px auto;
        width: 60%;
        flex-direction: column;
    }
    footer ul .logo{
        order: -1;
    }
    .media{
        flex-wrap: wrap;
        align-items: baseline;
    }
    .media img{
        padding-right: 5px;
        width: 20%;
        box-sizing: border-box;
    }
    section, footer{
        width: 90%;
    }
}